.timeline {
    margin-top: 12px;
    padding-left: 24px;
    border-left: 0.3px dashed #3A3A3A;
}

.my-work {
    position: relative;
}

.my-work::before {
    position: absolute;
    top: -64px;
    left: -64px;
    opacity: 50%;
    content: url(./dot-corner.png);
}

.bullet {
    left: -12px;
    color: #3A3A3A;
    background-color: #FEFEFE;
    position: absolute;
}

.bullet.first {
    padding-top: 48px;
    top: -24px;
}

.bullet.last {
}
