body {
  margin: 0;
  background-color: #FEFEFE; /* #22262C */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h5, h6 {
  font-family: 'Roboto Mono', sans-serif;
}

* {
  color: #3A3A3A;
  font-family: 'Raleway', sans-serif;
}